<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="error" strict="true" name="XMLConfigTest">
    <Properties>
        <Property name="filename">logs/app-${date:yyyy-MM-dd.HH-mm-ss}.log</Property>
        <Property name="defaultpattern">%d{yyyy-MM-dd HH:mm:ss.SSS} ${sys:pid} [%t] %-5level %c{1.} -
            %msg%n
        </Property>
    </Properties>

    <Appenders>
        <Appender type="Console" name="Console">
            <Layout type="PatternLayout" pattern="${defaultpattern}"/>
        </Appender>
        <Appender type="File" name="File" fileName="${filename}">
            <Layout type="PatternLayout" pattern="${defaultpattern}"/>
        </Appender>
    </Appenders>

    <Loggers>
        <Root level="ERROR">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="File"/>
        </Root>
    </Loggers>

</Configuration>